<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
      delectus dolorum. Porro deserunt inventore soluta ad accusantium velit
    </p>
  </header>
  <div style="width: 30%; padding: 4rem">
    <div class="card card--secondary">
      <header class="card__header">Card Title</header>
      <div class="card__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium sed
        ex dignissimos tempora dolore praesentium ipsam quidem voluptate ipsa
        quo ipsum saepe molestiae ullam exercitationem corporis temporibus
        quibusdam, hic asperiores?
      </div>
    </div>
  </div>
</section>
<section class="block block--dark block--skewed-left">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
      delectus dolorum. Porro deserunt inventore soluta ad accusantium velit
      illum. Harum.
    </p>
  </div>
</section>
<script src="js/main.js"></script>
